{% extends "layout.html" %}
{% block body %}

<!-- Page Title -->
<div class="page-title"
    style="background-image: url('static/img/contactus.jpg');background-size: cover; background-position: center;">
    <div class="container position-relative">
        <h1>Contact Us</h1>
        <p>Have Questions? We're Here to Help.</p>

    </div>
</div><!-- End Page Title -->


<!-- Contact Section -->
<section class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Contact Us</p>
    </div>
    <!-- End Section Title -->



    <div class="container mb-5">

        <div class="row gy-4">

            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                <p>
                    Whether you have questions, need a quote, or want to explore how we can assist with your patent and
                    trademark needs, we’re here to help. Reach out today and let’s discuss how we can support your
                    goals..
                </p>
                <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Customized Assistance</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Responsive Team</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Clear, Actionable Insights</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Quick Response Times</span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <p><strong>Ask for Samples or a Personalized Consultation</strong></br>
                    Interested in seeing samples of our work? Looking for a custom solution? We’d be happy to provide
                    tailored information or samples based on your specific needs. Just let us know how we can assist.
                </p>
                <a href="#contact" class="read-more"><span>Contact Now</span><i class="bi bi-arrow-right"></i></a>
            </div>

        </div>

    </div>
    <Hr>
    </Hr>


    <div class="container ratio mt-5 mb-5 ratio-16x9" style="height: 30rem; display: flex;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d766.0239583771897!2d-75.55747541292763!3d39.75368230470355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6fd114f68615d%3A0xbd940ed7edda460f!2s1207%20Delaware%20Ave%20%23759%2C%20Wilmington%2C%20DE%2019806%2C%20USA!5e0!3m2!1sen!2sin!4v1783967188228!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </div>
    <Hr>
    </Hr>


 <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Contact Us</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Address</h3>
              <p>1207 Delaware Ave #759<br>
                Wilmington DE 19806</p>
            </div>
          </div>

          <a href="tel:+1-302-302-1650" class="info-item d-flex" data-aos="fade-up" data-aos-delay="300"
            style="text-decoration: none; color: inherit;">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+1-302-302-1650</p>
            </div>
          </a>

          <a href="mailto:mail@engineerip.com" class="info-item d-flex" data-aos="fade-up" data-aos-delay="400"
            style="text-decoration: none; color: inherit;">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>mail@engineerip.com</p>
            </div>
          </a>


        </div>

        <div class="col-lg-8">
          <form action="/query" id="contact" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message"
                  required=""></textarea>
              </div>

              <div class="row align-items-center mt-3">

                <div class="col-lg-8">
                  <fieldset>
                    <div style="display:flex; align-items:center; gap:10px;">

                      <label for="math_verification" style="font-size:22px; white-space:nowrap; font-weight:bold;">
                        7 + 5 =
                      </label>


                      <input type="number" name="math_verification" id="math_verification" placeholder="Answer ?"
                        required min="0" max="99"
                        oninput="if(this.value.length > 2) this.value = this.value.slice(0,2);"
                        style="width:120px; padding:8px; border:1px solid #ddd; border-radius:4px;">

                      <p style="font-size: 12px; color: #6b6b6b;">🤖 You're not a robot, right?</p>

                    </div>
                  </fieldset>
                </div>


                <!-- Simple Math Verification -->


                <!-- Right side: Button -->
                <div class="col-lg-4 text-end">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message"></div>
                  <button class="end btn btn-primary" type="submit" id="submitBtn" type="submit" >Send
                    Message</button>
                </div>
              </div>



            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section>




{% endblock %}