{% extends "layout.html" %}
{% block body %}

<!-- Page Title -->
<div class="page-title"
  style="background-image: url('static/img/team/consultants.jpg');background-size: cover; background-position: center;">
  <div class="container position-relative">
    <h1>Our Legal Consultants</h1>
    <p>Have Questions? We're Here to Help.</p>

  </div>
</div><!-- End Page Title -->


<!-- Contact Section -->
<section class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Legal Consultants</h2>
    <p>US Consultants</p>
  </div>
  <!-- End Section Title -->



  <div class="container mb-5">
    <div class="row g-4  gap-2">

      <!-- Profile 1 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #fff3e6; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/Elliot_Furman.jpg" data-bs-toggle="modal" data-bs-target="#profileModal"
          class="rounded-circle mb-3 align-self-start" alt="Elliot Furman" width="100">
        <h4 data-bs-toggle="modal" data-bs-target="#profileModal">
          Elliot Furman
        </h4>
        <p>From <a href="http://patentauthority.com/">Patent Authority LLC</a></p>
        <div class="social-links mb-3">
          <a href="mailto:mail@engineerip.com" target="_blank" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="tel:+13023021650" target="_blank" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
          <a href="http://patentauthority.com/about/" target="_blank" class="me-2"><i
              class="bi bi-box-arrow-up-right"></i></a>
          <a href="https://www.linkedin.com/in/patentauthority" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
        <p data-bs-toggle="modal" data-bs-target="#profileModal">
          Elliot Furman is a registered practitioner before the United States Patent and Trademark Office with extensive
          experience in domestic and international patent matters. He has collaborated with individual inventors,
          start-ups, large corporations, and venture capital firms. Elliot’s expertise in patent law is bolstered by
          over 25 years of combined business and engineering experience, alongside a Master’s Degree in Engineering from
          Stanford University.<br>

          His services span a diverse range of offerings, including patent preparation and prosecution, product analysis
          and patentability assessments, guidance on defending against infringement claims, advice on designing around
          competitors’ patents and products, and assistance with product design and prototyping. Elliot also provides
          patent training and actively participates in engineering design and business strategy meetings to help develop
          valuable patent portfolios that enhance enforcement, defense, licensing, acquisition, and marketing
          opportunities<br>
        </p>
      </div>



      <!-- Modal -->
      <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="profileModalLabel"><strong>Elliot Furman</strong></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="/static/img/team/Elliot_Furman.jpg" class="img-fluid rounded-circle mb-3"
                    alt="Elliot Furman">
                  <div class="social-links mb-3">
                    <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
                    <a href="tel:+13023021650" target="_blank" class="me-2"><i
                        class="bi bi-telephone-forward-fill"></i></a>
                    <a href="http://patentauthority.com/about/" target="_blank" class="me-2"><i
                        class="bi bi-box-arrow-up-right"></i></a>
                    <a href="https://www.linkedin.com/in/patentauthority" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5>Educational Background</h5>
                  <p>
                    Elliot Furman holds a Master’s Degree in Engineering from Stanford University and a Bachelor’s
                    Degree
                    in Electrical Engineering and Mathematics from the State University of New York at Buffalo.
                    This strong academic foundation underpins his legal and technical expertise.
                  </p>

                  <h5>Professional Achievements</h5>
                  <p>
                    With over two decades of experience in intellectual property law and engineering, Furman has
                    achieved remarkable milestones:
                  </p>
                  <ul>
                    <li><strong>Patent Prosecution:</strong> Successfully prosecuted numerous domestic and international
                      patent applications for clients across various industries.</li>
                    <li><strong>Strategic Guidance:</strong> Assisted start-ups and established corporations in building
                      and managing high-value patent portfolios.</li>
                    <li><strong>Technical Expertise:</strong> Advised on designing products that navigate competitors'
                      patents while maximizing market impact.</li>
                    <li><strong>Litigation Support:</strong> Provided expert insights in defending against patent
                      infringement accusations.</li>
                  </ul>

                  <h5>Inventive Contributions</h5>
                  <p>
                    Furman has contributed to patents across sectors including software, AI, medical devices,
                    semiconductors, and more.
                    His ability to integrate technical knowledge with legal strategy ensures that innovations are both
                    protected and market-ready.
                  </p>

                  <h5>A Career Bridging Innovation and Protection</h5>
                  <p>
                    Elliot Furman exemplifies the perfect blend of technical acumen and legal proficiency. His career
                    reflects a commitment to safeguarding intellectual property while fostering innovation and growth
                    for his clients.
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>





      <!-- Profile 2 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/John-Elnitski.jpg" data-bs-toggle="modal" data-bs-target="#profileModalMike"
          class="rounded-circle mb-3 align-self-start" alt="John J. Elnitski, Jr." width="100">
        <h4 data-bs-toggle="modal" data-bs-target="#profileModalMike">
          John J. Elnitski, Jr.
        </h4>
        <p>From <a href="https://elnitskilaw.com/">Elnitski Law LLC</a></p>
        <div class="social-links mb-3">
          <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="tel:+13023021650" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
          <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="https://www.linkedin.com/in/john-elnitski-b2590b137/"><i class="bi bi-linkedin"></i></a>
        </div>
        <p data-bs-toggle="modal" data-bs-target="#profileModalMike">
          John J. Elnitski, Jr. is an intellectual property attorney based in Pennsylvania, focusing on patent,
          trademark, and copyright law. As the founder of Elnitski Law, he is known for delivering high-quality IP
          services with a strong emphasis on precision, clarity, and dependable results.<br><br>

          With experience serving individuals, startups, and established businesses across the United States, Elnitski
          helps clients protect inventions, brands, and creative works with efficiency and attention to detail. His
          practice is centered on practical guidance, responsive service, and delivering reliable legal solutions
          without unnecessary complexity.<br>
        </p>
      </div>

      <!-- Modal for Graham Ross -->
      <div class="modal fade" id="profileModalMike" tabindex="-1" aria-labelledby="profileModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="profileModalLabel">John J. Elnitski, Jr.</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="/static/img/team/John-Elnitski.jpg" class="img-fluid rounded-circle mb-3"
                    alt="John J. Elnitski, Jr.">
                  <div class="social-links mb-3">
                    <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
                    <a href="tel:+13023021650" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/john-elnitski-b2590b137/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5>Professional Background</h4>
                  <p>
                    John J. Elnitski, Jr. is an intellectual property attorney and founder of Elnitski Law, a practice
                    dedicated to patent, trademark, and copyright services. Based in central Pennsylvania, he serves
                    clients nationwide, offering practical and efficient legal support for protecting intellectual
                    property assets.
                  </p>

                  <h5>Practice Focus</h5>
                  <p>
                    Elnitski’s work centers on preparing and prosecuting patent, trademark, and copyright applications,
                    as well as advising on licensing agreements and initial infringement analysis. His approach
                    emphasizes clarity, responsiveness, and delivering results aligned with client objectives.
                  </p>

                  <ul>
                    <li>Patent application drafting and filing</li>
                    <li>Trademark registration and prosecution</li>
                    <li>Copyright protection</li>
                    <li>Licensing and contract support</li>
                    <li>Initial infringement analysis</li>
                  </ul>

                  <h5>Philosophy</h5>
                  <p>
                    Effective intellectual property protection does not have to be overly complex or cost-prohibitive.
                    Elnitski focuses on delivering high-quality legal work with straightforward communication, helping
                    clients secure and manage their IP assets with confidence.
                  </p>

                  <h5>Nationwide Reach</h5>
                  <p>
                    Based in Pennsylvania he serves clients across the United States, supporting
                    innovators, entrepreneurs, and businesses in protecting their inventions, brands, and creative
                    works.
                  </p>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>







      <!-- Uncomment the below profile if you have a third profile -->
      <!--
          <div class="col d-flex flex-column align-items-start text-start p-3" style="background-color: #e6f7ff; border: 1px solid #ddd; border-radius: 8px;">
            <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-end" alt="Emily Johnson" width="100">
            <h4>Emily Johnson</h4>
            <div class="social-links mb-3">
              <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
              <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
            </div>
            <p>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            </p>
          </div>
          -->
    </div>









    <div class="row g-4  gap-2" style="margin-top: -15px;">

      <!-- Profile 3 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/user.jpg" data-bs-toggle="modal" data-bs-target="#profileModalMartin"
          class="rounded-circle mb-3 align-self-start" alt="Martin Ahn" width="100">
        <h4 data-bs-toggle="modal" data-bs-target="#profileModalMartin">
          Martin Ahn
        </h4>
        <p>From <a href="https://www.incfilings.com/">INC Corporate Services</a></p>
        <div class="social-links mb-3">
          <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="tel:+13023021650" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
          <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p data-bs-toggle="modal" data-bs-target="#profileModalMartin">
          Martin Ahn is the owner of INC Corporate Services, a firm specializing in corporate filings and business
          formation services across all 50 U.S. states. With a background in law and prior experience as an attorney at
          Ahn & Co., PLLC, he brings a strong legal foundation to corporate compliance and filing processes.<br><br>

          With over two decades of experience, Ahn has built a practice focused on accuracy, efficiency, and dependable
          service. He works closely with professionals and businesses to streamline company formation and corporate
          filings, ensuring processes are handled with precision and consistency.<br>
        </p>
      </div>

      <!-- Modal for Martin Ahn -->
      <div class="modal fade" id="profileModalMartin" tabindex="-1" aria-labelledby="profileModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="profileModalLabel">Martin Ahn</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="/static/img/team/user.jpg" class="img-fluid rounded-circle mb-3"
                    alt="John J. Elnitski, Jr.">
                  <div class="social-links mb-3">
                    <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
                    <a href="tel:+13023021650" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/john-elnitski-b2590b137/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5>Professional Background</h5>
                  <p>
                    Martin Ahn is the owner of INC Corporate Services, a firm dedicated to providing corporate filing
                    and business formation solutions across the United States. Based in Flushing, New York, he has led
                    the company since its founding in 2004, supporting professionals and organizations with reliable and
                    efficient filing services.
                  </p>

                  <h5>Experience & Expertise</h5>
                  <p>
                    With over 20 years of experience in corporate services, Ahn brings a strong understanding of
                    regulatory requirements and filing procedures across all 50 states. His prior experience as an
                    attorney at Ahn & Co., PLLC adds legal insight to his work, enabling him to guide clients through
                    complex compliance processes with clarity.
                  </p>

                  <h5>Core Services</h5>
                  <ul>
                    <li>Company formation and incorporation services</li>
                    <li>Corporate filings and compliance support</li>
                    <li>Registered agent and document handling services</li>
                    <li>Outsourced filing solutions for professionals and firms</li>
                  </ul>

                  <h5>Approach</h5>
                  <p>
                    Martin Ahn’s approach emphasizes accuracy, efficiency, and consistency. INC Corporate Services is
                    known for maintaining a high level of precision in filings, supported by a streamlined process
                    designed to minimize errors and delays.
                  </p>

                  <h5>Client Focus</h5>
                  <p>
                    The firm primarily serves professionals, legal practitioners, and businesses seeking dependable
                    support for corporate filings. By offering tailored solutions and responsive service, Ahn ensures
                    that clients can manage their corporate requirements with confidence.
                  </p>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    </div>


    <hr class="mt-5">

  </div>












  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Legal Consultants</h2>
    <p>Indian Consultants</p>
  </div>
  <!-- End Section Title -->



  <div class="container mb-5">
    <div class="row g-4">
      <!-- Profile 1 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/shivanand.jpg" class="rounded-circle mb-3 align-self-start" alt="Shivanand Kaurav"
          width="100" data-bs-toggle="modal" data-bs-target="#profileModal2">
        <h4 data-bs-toggle="modal" data-bs-target="#profileModal2">Shivanand Kaurav</h4>
        <div class="social-links mb-3">
          <a href="mailto:mail@engineerip.com" target="_blank" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="tel:+13023021650" target="_blank" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
          <!-- <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a> -->
        </div>
        <p data-bs-toggle="modal" data-bs-target="#profileModal2">
          Shivanand Kaurav is a highly skilled Indian Patent Agent with extensive experience in intellectual property
          (IP) matters. His expertise spans across diverse domains, including patent prosecution, drafting, and
          strategic IP portfolio management. With a deep understanding of Indian patent law and regulations, he assists
          clients in protecting their innovations and maximizing the value of their intellectual assets.
        </p>
      </div>

      <!-- Modal for Shivanand Kaurav -->
      <div class="modal fade" id="profileModal2" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="profileModalLabel">Shivanand Kaurav</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="/static/img/team/shivanand.jpg" class="img-fluid rounded-circle mb-3" alt="Shivanand">
                <div class="social-links mb-3">
                  <a href="mailto:mail@engineerip.com" target="_blank" class="me-2"><i
                      class="bi bi-envelope-fill"></i></a>
                  <a href="tel:+13023021650" target="_blank" class="me-2"><i
                      class="bi bi-telephone-forward-fill"></i></a>
                  <!-- <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a> -->
                </div>
              </div>
              <div class="col-md-8">
                <p>
                  Shivanand Kaurav is a highly skilled Indian Patent Agent with extensive experience in intellectual
                  property (IP) matters. His expertise spans across diverse domains, including patent prosecution,
                  drafting, Landscape, and strategic IP portfolio management. With a deep understanding of Indian patent
                  law and regulations, he assists clients in protecting their innovations and maximizing the value of
                  their intellectual assets. He Has extensive experience in intellectual
                  property (IP) matters. His expertise spans across:
                </p>
                <ul>
                  <li>Patent office action responses</li>
                  <li>Patent drafting for various technical fields</li>
                  <li>Freedom-to-operate (FTO) analysis</li>
                  <li>Patent Landscape Analysis</li>
                  <li>Patentability and infringement</li>
                </ul>
                <p>
                  Shivanand brings a blend of technical expertise and legal acumen, ensuring comprehensive support for
                  clients across industries.
                </p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
















      <!-- Profile 2 -->
      <!-- <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #fff3e6; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-start" alt="John Doe"
          width="100">
        <h4>John Doe</h4>
        <div class="social-links mb-3">
          <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
          <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione.
        </p>
      </div> -->


















      <!-- Uncomment the below profile if you have a third profile -->
      <!--
          <div class="col d-flex flex-column align-items-start text-start p-3" style="background-color: #e6f7ff; border: 1px solid #ddd; border-radius: 8px;">
            <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-end" alt="Emily Johnson" width="100">
            <h4>Emily Johnson</h4>
            <div class="social-links mb-3">
              <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
              <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
            </div>
            <p>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            </p>
          </div>
          -->
    </div>

    <hr class="mt-5">


  </div>







  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Legal Consultants</h2>
    <p>EU Consultants</p>
  </div>
  <!-- End Section Title -->



  <div class="container mb-5">
    <div class="row g-4 gap-2">
      <!-- Profile 1 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-start" alt="Jane Smith"
          width="100">
        <h4>Jane</h4>
        <div class="social-links mb-3">
          <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
          <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p>
          Seasoned professional in the field of patent law and innovation protection. With extensive experience in
          patent preparation, prosecution, and portfolio management, has assisted clients ranging from startups to
          multinational corporations in safeguarding their intellectual property.
        </p>
      </div>

      <!-- Profile 2 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #fff3e6; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/team-1.jpg" class="rounded-circle mb-3 align-self-start" alt="John Doe" width="100">
        <h4>Lee</h4>
        <div class="social-links mb-3">
          <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
          <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p>
          Specializing in areas Pharma and Medical device, and provides strategic guidance on patentability assessments,
          infringement analysis, and designing around existing patents. With a focus on building robust patent
          portfolios, ensures that clients are well-positioned for enforcement, licensing, and acquisition
          opportunities.
        </p>
      </div>

      <!-- Uncomment the below profile if you have a third profile -->
      <!--
          <div class="col d-flex flex-column align-items-start text-start p-3" style="background-color: #e6f7ff; border: 1px solid #ddd; border-radius: 8px;">
            <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-end" alt="Emily Johnson" width="100">
            <h4>Emily Johnson</h4>
            <div class="social-links mb-3">
              <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
              <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
            </div>
            <p>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            </p>
          </div>
          -->
    </div>

    <hr class="mt-5">



  </div>












  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Team</h2>
    <p>Our Team</p>
  </div>
  <!-- End Section Title -->



  <div class="container mb-5">
    <div class="row g-4 gap-2">
      <!-- Profile 1 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/user.jpg" class="rounded-circle mb-3 align-self-start" alt="Jane Smith" width="100">
        <h4>Andy</h4>
        <p><em>(Head – Sales and operations)</em></p>
        <div class="social-links mb-3">
          <a href="mailto:andy@engineer-ip.com" target="_blank" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="tel:+13023021650" target="_blank" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
        </div>
        <p>
          Andy is an experienced leader specializing in sales and operations within the patent services sector. With a
          proven track record of driving revenue growth and optimizing processes, Andy excels in delivering tailored IP
          solutions to clients across industries. Known for strategic leadership and a client-focused approach, Andy
          ensures high-quality outcomes in patent search, prosecution, and analytics.
        </p>
      </div>

      <!-- Profile 2 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #fff3e6; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/user.jpg" class="rounded-circle mb-3 align-self-start" alt="John Doe" width="100">
        <h4>Mike Adler</h4>
        <p><em>(Manager – Sales )</em> </p>
        <div class="social-links mb-3">
          <a href="mailto:mike@engineer-ip.com" target="_blank" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="tel:+13023021650" target="_blank" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>

        </div>
        <p>
          Mike serves as Manager – Sales, specializing in driving business growth within the patent services industry.
          With expertise in client relationship management, market analysis, and tailored service delivery, Mike plays a
          pivotal role in connecting clients with effective intellectual property solutions. Focused on building strong
          partnerships, Mike leverages industry knowledge and a results-oriented approach to support client success.
        </p>
      </div>


      <!-- Profile 3 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/user.jpg" class="rounded-circle mb-3 align-self-start" alt="Jane Smith" width="100">
        <h4>Edwick Morgan</h4>
        <p><em>Sales Associate</em></p>
        <div class="social-links mb-3">
          <a href="mailto:Edwick@engineerip.com" target="_blank" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="tel:+13023021650" target="_blank" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>


        </div>
        <p>
          Dedicated with a passion for building relationships and driving results. Proficient in providing exceptional
          customer service, managing sales processes, and assisting clients with tailored solutions. Skilled in
          communicating effectively to understand client needs and deliver valuable support, contributing to the success
          of sales and operational goals.
        </p>
      </div>



      <!-- Uncomment the below profile if you have a third profile -->
      <!--
        <div class="col d-flex flex-column align-items-start text-start p-3" style="background-color: #e6f7ff; border: 1px solid #ddd; border-radius: 8px;">
          <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-end" alt="Emily Johnson" width="100">
          <h4>Emily Johnson</h4>
          <div class="social-links mb-3">
            <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
            <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
            <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
          </div>
          <p>
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
          </p>
        </div>
        -->
    </div>


    <hr class="mt-5">



  </div>



























  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Contact Us</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Address</h3>
              <p>1207 Delaware Ave #759<br>
                Wilmington DE 19806</p>
            </div>
          </div>

          <a href="tel:+1-302-302-1650" class="info-item d-flex" data-aos="fade-up" data-aos-delay="300"
            style="text-decoration: none; color: inherit;">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+1-302-302-1650</p>
            </div>
          </a>

          <a href="mailto:mail@engineerip.com" class="info-item d-flex" data-aos="fade-up" data-aos-delay="400"
            style="text-decoration: none; color: inherit;">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>mail@engineerip.com</p>
            </div>
          </a>


        </div>

        <div class="col-lg-8">
          <form action="/query" id="contact" method="post" class="php-email-form" data-aos="fade-up"
            data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message"
                  required=""></textarea>
              </div>

              <div class="row align-items-center mt-3">

                <div class="col-lg-8">
                  <fieldset>
                    <div style="display:flex; align-items:center; gap:10px;">

                      <label for="math_verification" style="font-size:22px; white-space:nowrap; font-weight:bold;">
                        7 + 5 =
                      </label>


                      <input type="number" name="math_verification" id="math_verification" placeholder="Answer ?"
                        required min="0" max="99"
                        oninput="if(this.value.length > 2) this.value = this.value.slice(0,2);"
                        style="width:120px; padding:8px; border:1px solid #ddd; border-radius:4px;">

                      <p style="font-size: 12px; color: #6b6b6b;">🤖 You're not a robot, right?</p>

                    </div>
                  </fieldset>
                </div>


                <!-- Simple Math Verification -->


                <!-- Right side: Button -->
                <div class="col-lg-4 text-end">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message"></div>
                  <button class="end btn btn-primary" type="submit" id="submitBtn" type="submit">Send
                    Message</button>
                </div>
              </div>



            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section>






  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Service Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalContent">
          <!-- Dynamic content will be injected here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



</section><!-- /Contact Section -->





{% endblock %}