{% extends "layout.html" %}
{% block body %}

<!-- Page Title -->
<div class="page-title"
  style="background-image: url('static/img/team/consultants.jpg');background-size: cover; background-position: center;">
  <div class="container position-relative">
    <h1>Our Legal Consultants</h1>
    <p>Have Questions? We're Here to Help.</p>

  </div>
</div><!-- End Page Title -->


<!-- Contact Section -->
<section class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Legal Consultants</h2>
    <p>US Consultants</p>
  </div>
  <!-- End Section Title -->



  <div class="container mb-5">
    <div class="row g-4">


      <!-- Profile 2 -->
      <!-- <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/Graham Ross.jpg" data-bs-toggle="modal" data-bs-target="#profileModalMike"
          class="rounded-circle mb-3 align-self-start" alt="Graham Ross" width="100">
        <h4 data-bs-toggle="modal" data-bs-target="#profileModalMike">
          Graham Ross
        </h4>
        <div class="social-links mb-3">
          <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="#" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
          <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p data-bs-toggle="modal" data-bs-target="#profileModalMike">
          Graham Ross, has a Stanford University PhD in Mechanical Engineering, combines academic rigor with real-world
          impact. As a registered Patent Agent with the USPTO, Ross stands at the intersection of engineering and
          intellectual property, ensuring groundbreaking innovations are effectively protected. His technical background
          forms the bedrock of a career dedicated to solving complex challenges across multiple industries.<br>

          With over 30 years in Research and Development, Ross has contributed to critical advancements in aerospace,
          healthcare, and technology. Notable roles include shaping the guidance systems for the Hubble Space Telescope
          at Lockheed Martin, pioneering fiber-reinforced plastics for Owens Corning Fiberglas, and innovating
          large-format printing at Hewlett Packard. His career also spans revolutionary work in high-bandwidth
          communication at AirFiber, medical robotics at Cardinal Health, and intellectual property prosecution at
          McDermott Will & Emery.<br>

          Ross’s inventive prowess is evident in his portfolio of dozens of patents, covering areas like robotics,
          optical systems, and autonomous navigation. His ability to translate theoretical concepts into tangible
          solutions has left a lasting imprint on engineering and patent law, exemplifying a career driven by curiosity,
          ingenuity, and impact.<br>
        </p>
      </div> -->

      <!-- Modal for Graham Ross -->
      <!-- <div class="modal fade" id="profileModalMike" tabindex="-1" aria-labelledby="profileModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="profileModalLabel">Graham Ross</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="/static/img/team/Graham Ross.jpg" class="img-fluid rounded-circle mb-3"
                    alt="Joyce H. A. von Natzmer">
                  <div class="social-links mb-3">
                    <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="col-md-8">
                  <h2>Educational Background</h2>
                  <p>
                    Graham Ross earned a PhD in Mechanical Engineering from Stanford University, showcasing his strong
                    academic foundation in advanced engineering principles. As a registered Patent Agent with the United
                    States Patent and Trademark Office (USPTO), Ross bridges technical expertise with legal proficiency,
                    ensuring innovations are effectively protected.
                  </p>

                  <h2>Professional Achievements</h2>
                  <p>
                    With over three decades of experience in Research and Development, Ross has made significant
                    contributions across diverse industries:
                  </p>
                  <ul>
                    <li><strong>Lockheed Martin:</strong> Key contributions to the guidance and control systems of the
                      Hubble Space Telescope, a vital tool in expanding the understanding of our universe.</li>
                    <li><strong>Owens Corning Fiberglas:</strong> Advanced fiber-reinforced plastics for groundbreaking
                      automotive applications.</li>
                    <li><strong>Hewlett Packard:</strong> Innovated large-format inkjet printers, influencing modern
                      printing technologies.</li>
                    <li><strong>AirFiber:</strong> Developed free-space laser systems, enabling high-bandwidth
                      communication.</li>
                    <li><strong>Cardinal Health:</strong> Enhanced medical product development and autonomous robotic
                      navigation.</li>
                    <li><strong>McDermott Will & Emery:</strong> Contributed to patent writing and prosecution,
                      leveraging technical expertise to protect intellectual property.</li>
                  </ul>

                  <h2>Inventive Contributions</h2>
                  <p>
                    Ross holds dozens of patents, reflecting his expertise across robotics, optical systems, fluid
                    delivery mechanisms, software-defined radios, and autonomous navigation technologies. These patents
                    stand as a testament to his ability to solve complex problems with innovative solutions.
                  </p>

                  <h2>A Career Bridging Innovation and Protection</h2>
                  <p>
                    Graham Ross exemplifies the intersection of groundbreaking innovation and meticulous intellectual
                    property protection. His career spans both engineering marvels and the legal frameworks necessary to
                    safeguard technological advancements.
                  </p>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> -->


      <!-- Profile 1 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #fff3e6; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/Elliot_Furman.jpg" data-bs-toggle="modal" data-bs-target="#profileModal"
          class="rounded-circle mb-3 align-self-start" alt="Elliot Furman" width="100">
        <h4 data-bs-toggle="modal" data-bs-target="#profileModal">
          Elliot Furman
        </h4>
        <div class="social-links mb-3">
          <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="#" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
          <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p data-bs-toggle="modal" data-bs-target="#profileModal">
          Elliot Furman is a registered practitioner before the United States Patent and Trademark Office with extensive
          experience in domestic and international patent matters. He has collaborated with individual inventors,
          start-ups, large corporations, and venture capital firms. Elliot’s expertise in patent law is bolstered by
          over 25 years of combined business and engineering experience, alongside a Master’s Degree in Engineering from
          Stanford University.<br>

          His services span a diverse range of offerings, including patent preparation and prosecution, product analysis
          and patentability assessments, guidance on defending against infringement claims, advice on designing around
          competitors’ patents and products, and assistance with product design and prototyping. Elliot also provides
          patent training and actively participates in engineering design and business strategy meetings to help develop
          valuable patent portfolios that enhance enforcement, defense, licensing, acquisition, and marketing
          opportunities<br>
        </p>
      </div>



      <!-- Modal -->
      <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="profileModalLabel"><strong>Elliot Furman</strong></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="/static/img/team/Elliot_Furman.jpg" class="img-fluid rounded-circle mb-3"
                    alt="Elliot Furman">
                  <div class="social-links mb-3">
                    <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
                    <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="col-md-8">
                  <h2>Educational Background</h2>
                  <p>
                    Elliot Furman holds a Master’s Degree in Engineering from Stanford University and a Bachelor’s
                    Degree
                    in Electrical Engineering and Mathematics from the State University of New York at Buffalo.
                    This strong academic foundation underpins his legal and technical expertise.
                  </p>

                  <h2>Professional Achievements</h2>
                  <p>
                    With over two decades of experience in intellectual property law and engineering, Furman has
                    achieved remarkable milestones:
                  </p>
                  <ul>
                    <li><strong>Patent Prosecution:</strong> Successfully prosecuted numerous domestic and international
                      patent applications for clients across various industries.</li>
                    <li><strong>Strategic Guidance:</strong> Assisted start-ups and established corporations in building
                      and managing high-value patent portfolios.</li>
                    <li><strong>Technical Expertise:</strong> Advised on designing products that navigate competitors'
                      patents while maximizing market impact.</li>
                    <li><strong>Litigation Support:</strong> Provided expert insights in defending against patent
                      infringement accusations.</li>
                  </ul>

                  <h2>Inventive Contributions</h2>
                  <p>
                    Furman has contributed to patents across sectors including software, AI, medical devices,
                    semiconductors, and more.
                    His ability to integrate technical knowledge with legal strategy ensures that innovations are both
                    protected and market-ready.
                  </p>

                  <h2>A Career Bridging Innovation and Protection</h2>
                  <p>
                    Elliot Furman exemplifies the perfect blend of technical acumen and legal proficiency. His career
                    reflects a commitment to safeguarding intellectual property while fostering innovation and growth
                    for his clients.
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>




      <!-- Uncomment the below profile if you have a third profile -->
      <!--
          <div class="col d-flex flex-column align-items-start text-start p-3" style="background-color: #e6f7ff; border: 1px solid #ddd; border-radius: 8px;">
            <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-end" alt="Emily Johnson" width="100">
            <h4>Emily Johnson</h4>
            <div class="social-links mb-3">
              <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
              <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
            </div>
            <p>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            </p>
          </div>
          -->
    </div>
  </div>




  <Hr>
  </Hr>







  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Legal Consultants</h2>
    <p>Indian Consultants</p>
  </div>
  <!-- End Section Title -->



  <div class="container mb-5">
    <div class="row g-4">
      <!-- Profile 1 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/shivanand.jpg" class="rounded-circle mb-3 align-self-start" alt="Shivanand Kaurav"
          width="100" data-bs-toggle="modal" data-bs-target="#profileModal2">
        <h4 data-bs-toggle="modal" data-bs-target="#profileModal2">Shivanand Kaurav</h4>
        <div class="social-links mb-3">
          <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
          <a href="#" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
          <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p data-bs-toggle="modal" data-bs-target="#profileModal2">
          Shivanand Kaurav is a highly skilled Indian Patent Agent with extensive experience in intellectual property
          (IP) matters. His expertise spans across diverse domains, including patent prosecution, drafting, and
          strategic IP portfolio management. With a deep understanding of Indian patent law and regulations, he assists
          clients in protecting their innovations and maximizing the value of their intellectual assets.
        </p>
      </div>

      <!-- Modal for Shivanand Kaurav -->
      <div class="modal fade" id="profileModal2" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="profileModalLabel">Shivanand Kaurav</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="/static/img/team/shivanand.jpg" class="img-fluid rounded-circle mb-3" alt="Shivanand">
                <div class="social-links mb-3">
                  <a href="mailto:mail@engineerip.com" class="me-2"><i class="bi bi-envelope-fill"></i></a>
                  <a href="#" class="me-2"><i class="bi bi-telephone-forward-fill"></i></a>
                  <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="col-md-8">
                <p>
                  Shivanand Kaurav is a highly skilled Indian Patent Agent with extensive experience in intellectual
                  property (IP) matters. His expertise spans across diverse domains, including patent prosecution,
                  drafting, Landscape, and strategic IP portfolio management. With a deep understanding of Indian patent
                  law and regulations, he assists clients in protecting their innovations and maximizing the value of
                  their intellectual assets. He Has extensive experience in intellectual
                  property (IP) matters. His expertise spans across:
                </p>
                <ul>
                  <li>Patent office action responses</li>
                  <li>Patent drafting for various technical fields</li>
                  <li>Freedom-to-operate (FTO) analysis</li>
                  <li>Patent Landscape Analysis</li>
                  <li>Patentability and infringement</li>
                </ul>
                <p>
                  Shivanand brings a blend of technical expertise and legal acumen, ensuring comprehensive support for
                  clients across industries.
                </p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
















      <!-- Profile 2 -->
      <!-- <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #fff3e6; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-start" alt="John Doe"
          width="100">
        <h4>John Doe</h4>
        <div class="social-links mb-3">
          <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
          <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione.
        </p>
      </div> -->


















      <!-- Uncomment the below profile if you have a third profile -->
      <!--
          <div class="col d-flex flex-column align-items-start text-start p-3" style="background-color: #e6f7ff; border: 1px solid #ddd; border-radius: 8px;">
            <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-end" alt="Emily Johnson" width="100">
            <h4>Emily Johnson</h4>
            <div class="social-links mb-3">
              <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
              <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
            </div>
            <p>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            </p>
          </div>
          -->
    </div>
  </div>




  <Hr>
  </Hr>


  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Legal Consultants</h2>
    <p>EU Consultants</p>
  </div>
  <!-- End Section Title -->



  <div class="container mb-5">
    <div class="row g-4">
      <!-- Profile 1 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-start" alt="Jane Smith"
          width="100">
        <h4>Jane Smith</h4>
        <div class="social-links mb-3">
          <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
          <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p>
          Seasoned professional in the field of patent law and innovation protection. With extensive experience in
          patent preparation, prosecution, and portfolio management, has assisted clients ranging from startups to
          multinational corporations in safeguarding their intellectual property.
        </p>
      </div>

      <!-- Profile 2 -->
      <div class="col d-flex flex-column align-items-start text-start p-3"
        style="background-color: #fff3e6; border: 1px solid #ddd; border-radius: 8px;">
        <img src="/static/img/team/team-1.jpg" class="rounded-circle mb-3 align-self-start" alt="John Doe" width="100">
        <h4>Stacey Lee</h4>
        <div class="social-links mb-3">
          <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
          <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
          <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
          <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
        </div>
        <p>
          Specializing in areas Pharma and Medical device, and provides strategic guidance on patentability assessments,
          infringement analysis, and designing around existing patents. With a focus on building robust patent
          portfolios, ensures that clients are well-positioned for enforcement, licensing, and acquisition
          opportunities.
        </p>
      </div>

      <!-- Uncomment the below profile if you have a third profile -->
      <!--
          <div class="col d-flex flex-column align-items-start text-start p-3" style="background-color: #e6f7ff; border: 1px solid #ddd; border-radius: 8px;">
            <img src="/static/img/blog/blog-author.jpg" class="rounded-circle mb-3 align-self-end" alt="Emily Johnson" width="100">
            <h4>Emily Johnson</h4>
            <div class="social-links mb-3">
              <a href="https://x.com/#" class="me-2"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/#" class="me-2"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/#" class="me-2"><i class="bi bi-instagram"></i></a>
              <a href="https://linkedin.com/#"><i class="bi bi-linkedin"></i></a>
            </div>
            <p>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            </p>
          </div>
          -->
    </div>
  </div>




  <Hr>
  </Hr>

  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Contact Us</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Address</h3>
              <p>1207 Delaware Ave #759<br>
                Wilmington DE 19806</p>
            </div>
          </div>

          <a href="tel:+1-302-302-1650" class="info-item d-flex" data-aos="fade-up" data-aos-delay="300"
            style="text-decoration: none; color: inherit;">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+1-302-302-1650</p>
            </div>
          </a>

          <a href="mailto:mail@engineerip.com" class="info-item d-flex" data-aos="fade-up" data-aos-delay="400"
            style="text-decoration: none; color: inherit;">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>mail@engineerip.com</p>
            </div>
          </a>


        </div>

        <div class="col-lg-8">
          <form action="/query" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message"
                  required=""></textarea>
              </div>

              <div class="row align-items-center">
                <!-- Left side: reCAPTCHA -->
                <div class="col-lg-6">
                  <div class="g-recaptcha" data-sitekey="6LeAtKMrAAAAAJ_ceR-60Ap1WX4H_wwTpwr78xOW"></div>
                </div>

                <!-- Right side: Button -->
                <div class="col-lg-6 text-end">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message"></div>
                  <button class="end btn btn-primary" type="submit">Send Message</button>
                </div>
              </div>

              <style>
                .g-recaptcha {
                  transform: scale(0.85);
                  /* Shrink slightly */
                  transform-origin: 0 0;
                  /* Keep aligned to top-left */
                }
              </style>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section>


</section>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Service Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalContent">
        <!-- Dynamic content will be injected here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</section><!-- /Contact Section -->





{% endblock %}